/.cached_schemastore
/.nyc_output
/coverage
/dist
!/docs/.vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/.vitepress/build-system/shim
/lib
/node_modules
/schemastore
/tests/fixtures/integrations
/assets
!/.github
!/.vscode
