/.cached_schemastore
/.nyc_output
/coverage
/dist
/docs/.vuepress/dist
/docs/.vuepress/components/demo/demo-code.js
/lib
/node_modules
/schemastore
/tests/fixtures/integrations
/assets
!/.github
!/.vscode
!/docs/.vuepress
